<ion-header>
  <ion-toolbar>
    <ion-title>ESPECIALIDAD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p class="ion-text-center">
    <img src="https://cdn.icon-icons.com/icons2/2184/PNG/128/stethoscope_doctor_health_medical_healthcare_icon_133555.png" >
  </p>
  <ion-item>
    <ion-label position="floating">
      Nombre 
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Descripción
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Código Especialidad
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  
  <p class="ion-text-center">
    <ion-button (click)="alta(myform.value)"  >Agregar ESPECIALIDAD</ion-button>
    </p>
  
</ion-content>
