<ion-header>
  <ion-toolbar>
    <ion-title>USUARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <p class="ion-text-center">
    <img src="https://icon-icons.com/icon/team-people-man-woman-group/193969" >
  </p>
  <ion-item>
    <ion-label position="floating">
      Nombres
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Apellidos 
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Identificación
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Email 
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Confirmar Email 
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Usuario
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Contraseña
    </ion-label>
    <ion-input type="text" ></ion-input>
  </ion-item>
 
  <p class="ion-text-center">
    <ion-button (click)="alta(myform.value)"  >Agregar </ion-button>
    </p>
</ion-content>
