<ion-header>
  <ion-toolbar>
    <ion-title>TIPO USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <p class="ion-text-center">
    <img src="https://cdn.icon-icons.com/icons2/35/PNG/512/admin_person_user_man_2839.png" >
  </p>
  <ion-item>
    <ion-label position="floating">
      Nombre 
    </ion-label>
    <ion-input type="text" formControlName="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Descripción
    </ion-label>
    <ion-input type="text" formControlName="descripcion"></ion-input>
  </ion-item>
  
  
  <p class="ion-text-center">
    <ion-button (click)="alta(myform.value)"  >Agregar TIPO USUARIO</ion-button>
    </p>
  
</ion-content>
